*
{
    padding: 0;
    margin: 0;

}
button
{
    background: none;
    outline: none;
    cursor: pointer;
}
ul
{
    list-style: none;
}
a
{
    text-decoration: none;
    color: inherit;
}
body
{
    font: 16px/1.5 "Dosis", sans-serif;
}
/* CONTAINER
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.wrapper
{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.wrapper > *
{
    padding: 20px;
}
/* HEADER
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.page-header img
{
    width:12em ;
    height:auto;
}
.page-header nav
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.page-header ul
{
    display: flex;
    order: 1;
    width: 100%;
    margin-top: 15px;
    font-size: 1.5em;
    justify-content: center;
}
.animation a:hover
{
    background-color: orange;
    color:white;
    padding: 5px 18px;
    border-radius: 30px 30px 30px 30px;
    animation-delay: 1s;
}
.animation-visited:visited
{
    color:orange;
}
.page-header ul li:not(:last-child)
{
    padding-right: 15px;
}
.page-header .cta-contact
{
    font-family: inherit;
    font-size: 1.2rem;
    padding: 5px 18px;
    border: 1px solid;
    border-radius: 5px;
}
/* MAIN
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.page-main
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-grow: 1;
    min-height: 42em;
    background: url(../pictures/sunset.jpeg) no-repeat center / cover;
}
.page-main-header
{
    width: 40em;
    height: 3em;
    display: flex;
    color: black;
    text-align: center;
    background: orange;
    border-radius: 40px 40px 40px 40px;
}
.page-main-text
{
    background: black;
    text-align:center;
    border-radius: 40px 40px 40px 40px;
}
.page-main div
{
    max-width: 500px;
    margin: 10px;
    padding:10px;
}
.page-main p + p
{
    margin-top: 10px;
}
.page-main p
{
    color:white;
    font-weight: bolder;
}
/*CONTAINER1
--------------------------------------------------*/
.container-1
{
    display: flex;
    flex-direction: row;
    line-height: 2em;
    font-size: 1em;
}
.container-1 img
{
    width:10em;
   height: auto;
}
.article
{
    display:flex;
    flex-direction: row;
    padding: 2em;
}
.article-img
{
    margin:1em;
}
/*CONTAINER2
--------------------------------------------------*/
.container-2
{
    display: flex;
    justify-content: center;
}
.thought
{
    display: flex;
    flex-direction: column;
    width:40%;
    height: 6em;
    padding: 2em;
    background-color: black;
    color: white;
    text-align: center;
    font-family:Jazz LET;
    justify-content: center;
}
.thought p
{
    font-size: 1.5em;
}
/*CONTAINER3
--------------------------------------------------*/
.container-3
{
    display: flex;
    justify-content: center;
}
.promotion
{
    display: flex;
    flex-direction: column;
    width: 40em;
    height: auto;
    justify-content: center;
    text-align: center;
    padding: 2em;
    margin-bottom: 5em;
}
.promotion p
{
    font-size: 1em;
    line-height: 2em;
}
.promotion-img img
{
    width: 30em;
    height: auto;
}
/* FOOTER
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.page-footer
{
    display: flex;
    flex-direction: column-reverse;
    color: black;
    background-color: orange;
}
.page-footer ul
{
    display: flex;
    font-size: 1.5rem;
    margin-bottom: 5px;
}
.page-footer ul li:not(:last-child)
{
    margin-right: 20px;
}


/* Mediascreen
–––––––––––––––––––––––––––––––––––––––––––––––––– */
@media screen and (min-width: 550px)
{
    .page-header ul
    {
        width: auto;
        margin-top: 0;
    }

    .page-header .cta-contact
    {
        order: 1;
    }

    .page-footer
    {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .page-footer ul
    {
        margin-bottom: 0;
    }
}


@media screen and (min-width: 768px)
{
    body
    {
        font-size: 18px;
    }

    .page-main
    {
        padding-left: 90px;
    }
}

@media screen and (max-width: 1280px)
{
    .container-1
    {
        flex-direction: column;
    }

    .article
    {
        flex-direction: column;
    }
    .article-img img
    {
        width: 12em;
        height:10em;
    }
    .article-img
    {
        display: flex;
        justify-content: center;
    }
    .thought p
    {
        font-size: 1.2em;
    }
    .thought h1
    {
        font-size: 1.8em;
    }
}

@media screen and (max-width: 767px)
{
    .thought
    {
        width: auto;
        height: auto;
    }
    .promotion img
    {
        width: 14em;
        height: auto;
    }
    .promotion-img
    {
        width: auto;
    }
    .page-main-header
    {
        width: auto;
        height: auto;
    }
    .page-header ul
    {
        font-size:16px;
    }
}